<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>产品管理</title>
    <div th:replace="head"></div>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <!-- /.navbar-top-links -->
            <div th:replace="toplinks"></div>
            <!-- /.navbar-static-side -->
            <div th:replace="sidebar"></div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">产品管理</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a th:href="@{/product/add}" title="新增产品"><span class="glyphicon glyphicon-plus">添加产品</span></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>产品条码</th>
                                        <th>产品名称</th>
                                        <th>规格</th>
                                        <th>批发价</th>
                                        <th>零售价</th>
                                        <th>库存</th>
                                        <th>状态</th>
                                        <th>修改</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item:${list}" th:id="'tr_'+${item.id}">
                                        <td th:text="${item.code}"></td>
                                        <td th:text="${item.name}"></td>
                                        <td th:text="${item.spec}"></td>
                                        <td th:text="${item.tradePrice}"></td>
                                        <td th:text="${item.retailPrice}"></td>
                                        <td th:text="${item.amount}"></td>
                                        <td th:text="${item.status}?'上架':'下架'" id ="status"></td>
                                        <td style="text-align: center">
                                            <a th:href="@{/product/edit(id=${item.id})}">
                                                <span class="glyphicon glyphicon-edit"  title="编辑"></span>
                                            </a>
                                        </td>
                                        <td style="text-align: center">
                                            <a herf="#" th:onclick="'javascript:deleteProduct(\''+${item.id}+'\')'" >
                                               <span name="trash" title="删除"
                                                  style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

    </div>
    <!-- /#wrapper -->

    <div th:replace="script"></div>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    function deleteProduct(id){
        $.ajax({
            type : "DELETE",
            url : "/product/delete/" + id,
            success: function (result) {
                   console.log('刪除成功');
                   $("#tr_"+id).remove();
            },
            error: function (e) {
                console.log('刪除失敗');
            }
        });
    };
    </script>

</body>

</html>
