<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>品牌编辑</title>
    <div th:replace="head"></div>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
        </div>
        <!-- /.navbar-header -->

        <div th:replace="toplinks"></div>
        <!-- /.navbar-top-links -->

        <div th:replace="sidebar"></div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">编辑品牌</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        产品基本信息
                    </div>
                    <div class="panel-body">
                            <div class="col-lg-12">
                                <form class="form-horizontal" name="form" th:action="@{/product/save}" method="post" th:object="${productInfo}">
                                    <input class="form-control"  th:value="${product}? ${product.id}"
                                           th:field="*{id}" type="hidden"/>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label" >条形码</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" th:value="${product}? ${product.code}"
                                                   th:field="*{code}" required="required" maxlength="30"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">名称</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" th:value="${product}? ${product.name}"
                                                   th:field="*{name}" required="required" maxlength="50"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">品牌</label>
                                        <div class="col-lg-5">
                                            <select class="form-control" name="brand" onChange="getCategory(this.value)"
                                              th:field="*{brandId}" >
                                                <option th:each="item:${brandList}" th:value="${item.id}" th:text="${item.name}"
                                                     th:selected="${product}? (${item.id} == ${product.brandId})"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">分类</label>
                                        <div class="col-lg-5">
                                            <select class="form-control" name="category" th:field="*{catId}">
                                                <!--option value="0">请选择分类</option-->
                                                <option th:each="item:${brandList[0].cateList}" th:value="${item.id}" th:text="${item.name}"
                                                         th:selected="${product}? (${item.id} == ${product.catId})"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">规格</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" th:value="${product}? ${product.spec}"
                                                   th:field="*{spec}"  maxlength="30"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">单位</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" th:value="${product}? ${product.unit}"
                                                   th:field="*{unit}"  maxlength="30"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">批发价</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="number" th:value="${product}? ${product.tradePrice}"
                                                   th:field="*{tradePrice}" maxlength="16"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label" >零售价</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="number" th:value="${product}? ${product.retailPrice}"
                                                   th:field="*{retailPrice}" maxlength="16"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">库存</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="number" th:value="${product}? ${product.amount}"
                                                   th:field="*{amount}" maxlength="16"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">图片</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="file" th:value="${product}? ${product.imageSrc}"
                                                   th:field="*{imageSrc}" maxlength="16"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">产地</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" th:value="${product}? ${product.origin}"
                                                   th:field="*{origin}" maxlength="16"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">保质期</label>
                                        <div class="col-lg-5">
                                            <input class="form-control" type="text" th:value="${product}? ${product.period}"
                                                   th:field="*{period}" maxlength="16"/>
                                        </div>
                                    </div>
                                    <button type="reset" class="btn btn-default">重置</button>
                                    <button type="submit" class="btn btn-default">保存</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->

                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<script th:inline="javascript" >
        function getCategory(val){
             var brandList = /*[[${brandList}]]*/;
             var options;
             brandList.forEach(function(item){
                 if(item.id == val){
                      options = item.cateList;
                 }
             });
             var catSelect = document.getElementById("catId");
             $("#catId").empty();
             console.log(options);
             options.forEach(function(item){
                catSelect.options.add(new Option(item.name, item.id));
             });
    }
</script>


</body>

</html>

